# Ambientes virtuais
venv/
env/
.venv
ENV/

# Arquivos Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# Banco de dados local
*.db
instance/

# Variáveis de ambiente
.env

# IDEs
.vscode/
.idea/

# Logs
*.log
